to_do.txt
error_log
readme
notes.txt
20130828.shtml
Images/2013/*
_js/tinymce
_js/tinymce/*
_includes/db_info.bt.inc.php
_includes/db_info.local.inc.php
_includes/db_info.mcbc.inc.php
_includes/mcbc_info.inc.php
_includes/runtime_parms_mcbc.inc.php
_includes/email_footer_mcbc.inc.php
_includes/email_header_mcbc.inc.php