/*
Author:	Christopher Robinson
Revised by: Bob Trigg, various times
Email: christopher@edg3.co.uk, bobtrigg94930@gmail.com
Website: http://www.edg3.co.uk/
*/
* {
	border:0;
	margin:0;
	padding:0;
}

/* general */
a {
	color:#B0811C;
	text-decoration:none;
}

a:hover {
	color:#006C00;
	text-decoration:none;
}

/* body */
body {
	color:#666;
	background: #F5F0BC url(../_images/BlueSwirls.gif);
	font-family: Calibri, Verdana, Arial, sans-serif;
	font-size: 100%;
}
#wrapper {
	height:auto;
	margin:20px auto;
/* 	padding:0 10px 20px; */	
	width:752px;
	-webkit-box-shadow: 10px 10px 20px #20242c;
	-moz-box-shadow: 10px 10px 20px #20242c;
	box-shadow: 10px 10px 20px #20242c;
}
/* header */
#header {
	margin:25px auto 0;
	border: solid 1px #ccc;
    padding: 0;
	width:752px;
	background-color: #ffda4a;
	-webkit-border-radius:10px 10px 0 0;
	-moz-border-radius:10px 10px 0 0;
	border-radius:10px 10px 0 0;
}
h1,h2,h3,h4 {
	color:#666;
	font-family: Calibri, "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#header h1, h2 {
	color: #0c525f;
}
h3 {
	font-size: 100%;
	line-height:1.6em;
	padding: 5px 0;
}
blockquote {
	margin-left: 25px;
}
ul {
	margin: 0;
	padding: 0;
}
p.clear {
	clear:both;
	height:0;
	margin:0;
	padding:0;
}
#header h1 {
	font-size:150%;
	text-align:left;
	padding:20px;
}
#header h2 {
	font-size:125%;
	text-align:left;
	padding:0 20px 20px 20px;
}

/* page_content */
#page_content {
	width:722px;
	padding: 15px;
	background-color: #f8f8f8;
	border: solid #ccc 1px;
	clear:both;
	-webkit-border-radius:0 0 10px 10px;
	-moz-border-radius:0 0 10px 10px;
	border-radius:0 0 10px 10px;
}
#page_content h1 {
	border-bottom:1px dashed #999;
	font-size:1.8em;
	padding:20px 0 0;
}
#page_content form p {
	padding:20px 20px 0 20px;
}
#page_content ul{
	margin:1em 0 0 40px;
}

/*  form styles  */
#page_content form {
	margin: 10px 0;
}
#page_content form p, #page_content form h3 {
	padding: 10px 0 10px 45px;
}
#page_content .explanation {
	font-size:75%;
	padding: 0 0 0 45px;
	margin:0 0 0 20px;
}
form input , form textarea, form select {
	border: 1px #999 solid;
	font-family: Calibri, Verdana, Arial, sans-serif;
	font-size: 80%;
}
form select option {
	padding: 0 10px;
}
form input[type=text] {
	height:20px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	padding:0 5px;
}
#graphic_entries input[type=text], #text_entries input[type=text] {
	width: 400px;
}
#text_entries .mce-panel {
	margin-top:20px;
	margin-bottom:20px;
}
#text_entries, #graphic_entries {
	position:relative;
}
#text_entries input[type=text] {
	position:absolute;
	right:	200px;
}
#graphic_entries input {
	position:absolute;
	right:92px;
 }
#page_content #graphic_entries p {
	padding-left:65px;
}
.label {
	width: 120px;
	text-align: right;
	float: left;
	padding: 0 5px;
	font-size: 90%;
}
textarea {
	width:625px;
}
input[type=submit], input[type=button] {
	padding:5px 10px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
input[type=submit] {
	background:rgba(5,224,5,.3);
}
input[type=button] {
	background:rgba(224,5,5,.3);
}
 
.required {
	float: left;
	font-weight: bold;
	color: #C00;
}
.event_selector {
	float:left;
	padding: 5px 10px;
}

/*  data table - used in list_items.php */
#datatable {
	margin: 5px auto;
}
#datatable th {
	text-align: left;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
}
#datatable td {
	font-size: 75%;
	padding: 0 5px;
}
/* footer */
#footer {
	border:1px solid #ccc;
	margin:0 auto;
	padding:10px 0;
	width:752px;
	background-color: #ffda4a;
	height:1.6em;
}
#footer .admin {
	float: right;
	padding-right: 25px;
	text-align: right;
}

/* Added by Larry Ullman: */
.error {
	font-weight: bold;
	color: #C00;
}
@media only screen and (max-width:560px) {
	#graphic_entries input {
		position:static;
	}
}